:root {
    --orange: #bd5d38;
    --blue: #1a73e8;
}

#navbar-menu {
    height: 60px;
}

.color-orange {
    color: var(--orange);
}

.text-blue {
    color: var(--blue)
}

.about-icon {
    background-color: #333333;
    color: #ffffff;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    position: relative;
    padding-left: 20px;
}

li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 18px;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border: 2px solid #000000;
    border-radius: 50%;
    background-color: #ffffff;
}

.fixed-width-col {
    width: 60px;
    height: 60px;
    background-color: #333333;
}

.fixed-width-col:hover {
    color: #ffffff;
    background-color: #bd5d38;
}

.a-none {
    text-decoration: unset;
    color: white;
}

#scrollToTopBtn {
    bottom: 40px;
    cursor: pointer;
    position: fixed;
    right: 40px;
    opacity: 0;
}

.icon-nav {
    height: 50px;
    width: 60px;
    background-color: #e74c3c;
}

#nav-mobile {
    top: 60px;
}

.asteriskField {
    display: none;
}

@media only screen and (max-width: 768px) {
    .icon-nav {
        position: absolute;
        right: 10px;
        top: 4px;
    }
    #div-hamburger {
       top: 1px;
       right: 2px;
    }
}