{% load crispy_forms_filters %}
<div class="row my-5 mx-3" id="contact">
    <h1 class="color-orange fw-bolder">Contact Me</h1>
    <div class="col-10">
        <div class="alert alert-success d-none" id="successMessage"
             role="alert"></div>
        <form action="#" method="post"
              id="form-submission">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-dark text-white"
                    type="submit">send message</button>
        </form>
    </div>
</div>