<div class=" row bg-secondary bg-gradient text-white d-none d-flex justify-content-around align-items-center fw-bold text-uppercase d-md-none position-sticky "
     id="nav-mobile">
        <div class="row my-3 "><a class="a-none"
                                  href="#about">About</a></div>
        <div class="row my-3"><a class="a-none"
                                 href="#education">Education</a></div>
        <div class="row my-3"><a class="a-none"
                                 href="#experience">Experience</a></div>
        <div class="row my-3"><a class="a-none"
                                 href="#news-section">News</a></div>
        <div class="row my-3"><a class="a-none"
                                 href="#award-honor">Awards</a></div>
        <div class="row my-3"><a class="a-none"
                                 href="#contact">Contact</a></div>
    </div>