<div class="row bg-secondary bg-gradient text-white d-flex justify-content-around align-items-center fw-bold text-uppercase position-fixed top-0 w-100"
         id="navbar-menu">
        <div class="col-12 d-flex justify-content-start align-items-center d-block d-md-none">
            <h2>rajesh Upadhayaya</h2>
            </div>
        <div class="col-1 d-none d-md-block"><a class="a-none"
                                                href="#about">About</a></div>
        <div class="col-1 d-none d-md-block"><a class="a-none"
                                                href="#education">Education</a></div>
        <div class="col-1 d-none d-md-block"><a class="a-none"
                                                href="#experience">Experience</a></div>
        <div class="col-1 d-none d-md-block"><a class="a-none"
                                                href="#news-section">News</a></div>
        <div class="col-1 d-none d-md-block"><a class="a-none"
                                                href="#award-honor">Awards</a></div>
        <div class="col-1 d-none d-md-block"><a class="a-none" href="#contact">Contact</a></div>
         <div class="col-1 position-absolute" id="div-hamburger">
            <button class="d-flex justify-content-center align-items-center d-md-none icon-nav fs-1 close"
                    aria-label="Close" id="btn-close">
                <span aria-hidden="true">&times;</span>
            </button>
            <button class="d-flex justify-content-center align-items-center d-md-none icon-nav"
                    id="icon-hamburger">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     width="40" height="40" viewBox="0 0 24 24">
                    <path d="M 2 5 L 2 7 L 22 7 L 22 5 L 2 5 z M 2 11 L 2 13 L 22 13 L 22 11 L 2 11 z M 2 17 L 2 19 L 22 19 L 22 17 L 2 17 z"></path>
                </svg>
            </button>
        </div>
    </div>