<div class="row my-5 mx-3" id="news-section">
    <h1 class="color-orange fw-bolder">News & Updates</h1>
    <div class="row my-2">
        <div class="col-2">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                     viewBox="0 0 24 24"
                     class="news_icon" height="1em" width="1em"
                     xmlns="http://www.w3.org/2000/svg"><path
                        d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"></path><path
                        d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z"></path></svg>
                <strong>Apr 2022</strong>
        </div>
        <div class="col-10">
            Started as a software developer at the Noventum Custom Software
        </div>
    </div>
    <div class="row my-2">
        <div class="col-2">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                     viewBox="0 0 24 24"
                     class="news_icon" height="1em" width="1em"
                     xmlns="http://www.w3.org/2000/svg"><path
                        d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"></path><path
                        d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z"></path></svg>
                <strong>May 2022</strong>
        </div>
        <div class="col-10">
            Graduated from UNM with a bachelor's degree in computer science
        </div>
    </div>
    <div class="row my-2">
        <div class="col-2">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                     viewBox="0 0 24 24"
                     class="news_icon" height="1em" width="1em"
                     xmlns="http://www.w3.org/2000/svg"><path
                        d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"></path><path
                        d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z"></path></svg>
                <strong>Jan 2022</strong>
        </div>
        <div class="col-10">
            Started as a Teaching Assistant for Intermediate Programming class.
        </div>
    </div>
    <div class="row my-2">
        <div class="col-2">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                     viewBox="0 0 24 24"
                     class="news_icon" height="1em" width="1em"
                     xmlns="http://www.w3.org/2000/svg"><path
                        d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"></path><path
                        d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z"></path></svg>
                <strong>May 2021</strong>
        </div>
        <div class="col-10">
            Started as a Junior software developer at the Univeristy of New Mexico.
        </div>
    </div>

       <div class="row my-2">
        <div class="col-2">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                     viewBox="0 0 24 24"
                     class="news_icon" height="1em" width="1em"
                     xmlns="http://www.w3.org/2000/svg"><path
                        d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"></path><path
                        d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z"></path></svg>
                <strong>May 2020</strong>
        </div>
        <div class="col-10">
            Started as a software developer Intern at the SoftBenzInfosys
        </div>
    </div>
</div>